.brands {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.box1,
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  height: 70%;
}

.box2 .egg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box3 .stand-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box3,
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  height: 70%;
}

.box1,
.box4 {
  padding: 5rem;
  justify-content: flex-start;
  font-family: "Fraunces";
}
